@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;700&display=swap');

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: white;
}
h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    color: white;
}
h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: white;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
}
body, html {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }

nav {
    opacity: 0.7;
}

a:hover {
    cursor: pointer;
}
.active:hover {
    transform: scale(1.1);
    transition: all ease 100ms;
}

/* PAGE 1 */


  
  .hero-image-1 {
    background-image:url("./assets/main-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text-1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text-1 button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px 25px;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 250px;
  }
  h3.arrow-down-text {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  img.scroll-down-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 30px;
  }
  img.scroll-down-img:hover {
    transition: all ease 100ms;
    cursor: pointer;
  }
  .scroll-down {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  

  /* PAGE 2 */

  .hero-image-2 {
    background-image:url("./assets/the-games-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  /* PAGE 3 */

  .hero-image-3 {
    background-image:url("./assets/features.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .hero-image-3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.808), 
        rgba(0, 0, 0, 0.8)),url("./assets/features.jpg");
        background-position: left;
    }
    }
.p-li-page3 {
    color: rgb(255, 145, 0);
}

.list-1 {
    list-style-image: url(./assets/ellipse.svg);
    margin-bottom: -100px;
}
.list-2, .list-3 {
    list-style-image: url(./assets/ellipse-outline.svg);
}
.vr {
    background-color: white ;
    margin-left: 16px;
}
.list-3 {
    margin-top: 50px;
}

/* PAGE 4 */

.hero-image-4 {
    background-image:url("./assets/requirements.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 800px 0px 200px 0px rgba(0, 0, 0, 0.856);
}
.p-page4-1 {
    text-align: center;
}

/* PAGE 5 */

.hero-image-5 {
    background-image:url("./assets/top-score-bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 800px 0px 200px 0px rgba(0, 0, 0, 0.856);
}

.p-card-1 {
    font-size: 24px;
    letter-spacing: 2px;
    color: rgb(255, 145, 0);
}
.p-card-2{
 margin-top: -26px;
 font-size: 14px;
}
.p-card-4 {
    font-size: 12px;
}
.img-1 {
    border-radius: 100%;
    margin-top: -100px;
    margin-left: -7px;
    width: 60px;
}
.card {
    margin-top: 25px;
    width: 30rem;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .p-card-1, .p-card-2 {
        margin-left: -30px;
    }
    .p-card-1 {
        font-size: 16px;
        letter-spacing: 2px;
        color: rgb(255, 145, 0);
    }
    .p-card-2{
     margin-top: -20px;
     font-size: 10px;
    }
    .p-card-3 {
        font-size: 12px;
    }
    .p-card-4 {
        font-size: 8px;
    }
    .img-1 {
        border-radius: 100%;
        margin-top: -70px;
        margin-left: -5px;
        width: 40px;
    }
    .img-2 {
        width: 40px;
    }
    .card {
        width: 22rem;
        height: auto;
    }
}

/* PAGE 6 */

.hero-image-6{
    background-image:url("./assets/newsletter.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 800px 0px 200px 0px rgba(0, 0, 0, 0.856);
}
.h1-page6-1 {
    letter-spacing: 10px;
}
.p-page6-3 {
    font-size: 10px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .skull {
        width: 0px;
        height: 0px;
    }
    }

.p-page6-4 {
    font-size: 12px;
}
.p-page6-5 {
    font-size: 10px;
    margin: 0;
}

.img-w {
    max-width: 20px;
    margin-bottom: 15px;
}
.w-25-1 {
    max-width: 10px;
}
.cus-2 {
    width: 104px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .cus-w {
        width: 50px;
        margin-left: auto;
    }
    .img-w {
        margin-bottom: 5px;
    }
    }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .p-page6-4 {
        font-size: 12px;
    }
    .p-page6-5 {
        font-size: 8px;
        margin: 0;
    } 
    
    .cus-2 {
        width: 100px;
    }
    .cus-1 {
        justify-content: center;
        margin-left: 11px;
    }
}
